
    body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #0f0f0f;
      color: #ffffff;
      overflow-x: hidden;
    }

    header {
      height: 80px;
      z-index: 1000;
    }

    #menu-overlay {
      background-color: rgba(0, 0, 0, 0.95);
      transition: all 0.5s ease;
    }

    #menu-overlay.show {
      display: flex !important;
    }

    #menu-overlay a {
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
      margin: 1rem 0;
      transition: opacity 0.3s;
    }

    #menu-overlay a:hover {
      opacity: 0.5;
    }

    section.hero {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    section.projects {
      padding: 80px 0;
    }

    .project-link {
        display: block;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .project-link h5 {
        color: #0d0d0d;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .project-link:hover {
    
        transform: scale(1.02);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.993);
    }

    .project-card {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        border: none;
        border-radius: 10px;
        z-index: 1;
    }

    .project-card::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);  
        z-index: 0;
        transition: background 0.3s ease;
    }

    .project-card:hover::before {
        background: rgba(0, 0, 0, 0.4);
    }

    .project-card > * {
        position: relative;
        z-index: 1;
    }
    .project-image {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease;
    }
    
    .project-card:hover .project-image {
        transform: scale(1.03);
    }


    



    footer {
      padding-bottom: 10px;
      text-align: center;
      font-size: 0.875rem;
      color: #fefefe;
    }